:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

h1,h2,p,h3,span{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #36486b;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pdisplay {
    display: flex;
    background: #9fd3dd;
    height: auto;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    color: yellow;
}
#addedit button {
border-radius: 2%;
background: #a7c5eb;
color: white;
font-weight: bolder;
margin: 0.5em;
padding: 0.5rem 0.75rem;
background: rgb(18, 180, 180);
}
#addtodo {
    text-align: center;
    background: darkcyan;
    color: white;
    width: 100%;
    padding:0.75em 0;
}
#for-select {
-webkit-appearance: none;
font-size: 20px;
font-weight: 300; 
text-align: center;
min-width: 15ch;
cursor: pointer;
line-height: 1.1;
background: #0c0546;
appearance: none;
padding:0.3rem 0.5rem;
margin-left: 0.7em;
color: white;
}
#container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-inline: auto;
    background: #8ac4d0;
    width: 80%;
}
.innerdiv {
    display: flex;
    flex-direction: row;
    padding: 0.75em;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}
#namedate {
    width: 50%;
}
#namedate span {
    text-transform: uppercase;
    color: yellow;
    font-size: 23px;
    font-weight: bolder;
    padding-right:0.5em;
} 
.innerdiv p {
    flex: 1;
    width: 200px;
    color: white;
    font-size: 20px;
    justify-self: end;
}
#paraeditdone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
#paraeditdone > * {
    margin: 0.2em;
}
#paraeditdone button{
    height: 3em;
    background:#4a47a3;
    color: white;
    border-radius: 5px;
    padding:0.5em 1.2em;
}
.form {
display: none;
flex-direction: column;
padding: 0.5em;
position: fixed;
top: 0;
left: 0; 
right: 0; 
margin: 0 auto;
width: 35vw;
height: 20vh;
margin-top: 200px;
background: rgb(1, 48, 43) ;
}
.form div:first-child{
    width: 100%;
    display: flex;
    justify-content: end;
}
.form div:first-child button{    margin-left: 3rem;
}
.form div:nth-child(2){
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}
.form div:nth-child(2) label{
    color: white;
}
.form div:nth-child(2) button{
    background:teal;
    color: white;
    font-size: 15px;
    width: 15%;
    margin-top: 0.5em;
}
.todoform {
flex-direction: column;
padding: 0.5em;
position: fixed;    margin-left: 3rem;
top: 0;
left: 0; 
right: 0; 
margin: 0 auto;
width: 25vw;
height: auto;
margin-top: 200px;
background: lightblue;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 15px;
}
.todoform > *  {
    width: 30%;
    color: black;
    display: block;
    text-align: center;
}
.todoform textarea{
    resize: none;
    width: 95%;
}
.todoform label {
    color: chocolate ;
}
.todoform div {
    position: relative;
    display: flex; 
    margin-top: 1em;
    width: 100%;
    height: auto;
    justify-content: center;
}
.todoform div > * {
    flex-basis: 120px;
}
.todoform div button{
    background: #7FDBFF;
    color:white;
}
.todoform div >:first-of-type{
    margin-right:0.5em ;
}

.after {
    background: #CDCDCD;
}
.after #namedate span {
    color: white;
}
.paraText{
    position: absolute;
    top: 1;
    margin: 1rem 5rem;
    flex: 1;
    align-self: flex-end;
    color: white;
    font-size: 2.4rem;
}

@media screen and (max-width: 500px){
    #addedit {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    #addedit button {
        padding: 0.05rem;
        width: 45%;
        background: rgb(18, 180, 180);
        }
        #addtodo {
            text-align: center;
            background: rgb(2, 73, 73);
            color: white;
            width: 100%;
            padding:0.75em 0;
        }
        #container {
            display: flex;
            flex-direction: column;
            position:absolute;
            width: 100%;
            background: none;
            height: fit-content;
        }
        .pdisplay{
            display: flex;
            width: 100%;
            padding: 0;
            font-size: 7vw;
            margin: 0.5rem 1rem;
            background: none;
        } 
        .pdisplay select {
            margin-right: 1.9rem;
            flex: 1;
            width: auto;
        }
        .pdisplay label {
            flex: 1;
            font-size: 1.25rem;
        }
        .form {
            width: 90%;
            height: auto;
        }
        .todoform {
            width: 90%;
            height: auto;
            border-radius: 2%;
        }
        #addtodo {
        width: 99%;
        justify-content: center;
        align-self: center;
        border:solid transparent 5px;
        }
        .innerdiv{
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 0;
            padding: 1rem 1rem;
        }
        #namedate {
            grid-column: span 2;
        }
        .innerdiv p {
            grid-column: span 4;
        }
        .innerdiv button {
        font-size: 0.9rem;
        height: fit-content;
        background: #4a47a3;
        color: white;
        border-radius: 0;
        padding: 0;
        }
    }